@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.545), rgba(0, 0, 0, 0.545)), url("../img/Fondodepantalla/pesca3.jpg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }

header {
  background-color: #0d0026;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1px;
  flex-wrap: wrap;
  text-align: center; }
  header h1 {
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    color: #9f0b2d; }

.sobrenosotros {
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  display: flex;
  justify-content: start;
  flex-direction: column; }
  .sobrenosotros h2 {
    margin: 10px;
    color: rgba(0, 205, 171, 0.848);
    font-size: 40px;
    font-weight: 800;
    text-align: center; }
  .sobrenosotros p {
    padding: 60px;
    font-size: 20px;
    font-weight: 800;
    color: #fcfefe; }
  .sobrenosotros div {
    width: 100%;
    text-align: center; }
    .sobrenosotros div img {
      background-color: aliceblue;
      border: 2px solid black;
      width: 250px;
      height: 250px;
      margin: 5px;
      padding: 5px; }

.excursiones {
  width: 100%;
  height: 450vh;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; }
  .excursiones h2 {
    color: rgba(57, 200, 176, 0.848);
    font-weight: 800;
    padding: 20px;
    margin: 10px;
    text-align: center; }
  .excursiones .excursion-contenedor {
    margin: 5px;
    padding: 60px;
    flex-direction: row;
    align-items: center; }
    .excursiones .excursion-contenedor .excursion-imag {
      margin: 10px;
      padding: 5px;
      border: 2px solid black;
      background-color: rgba(94, 165, 236, 0.223);
      align-items: center; }
      .excursiones .excursion-contenedor .excursion-imag h3 {
        color: black;
        font-size: 20px;
        font-weight: 600;
        text-align: left;
        margin: 10px;
        padding: 10px;
        text-align: center; }
      .excursiones .excursion-contenedor .excursion-imag p {
        color: black;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        margin: 10px;
        padding: 20px; }
      .excursiones .excursion-contenedor .excursion-imag a {
        text-decoration: none;
        color: #b75906;
        background-color: #0b0b0b;
        border-radius: 10px;
        border: 2px solid #e4dada;
        padding: 5px;
        margin: 15px; }
      .excursiones .excursion-contenedor .excursion-imag div img {
        margin: 5px;
        border: 2px solid black;
        padding: 20px; }

.productos h2 {
  color: rgba(24, 186, 159, 0.848);
  font-weight: 700;
  text-align: center; }

.productos .productos-contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .productos .productos-contenedor .productos-imag {
    background-color: rgba(240, 248, 255, 0.393);
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    width: 25%;
    text-align: center; }
    .productos .productos-contenedor .productos-imag h3 {
      color: #1e1e1e;
      font-size: 15px; }
    .productos .productos-contenedor .productos-imag img {
      border: 1px solid black; }
    .productos .productos-contenedor .productos-imag div h4 {
      color: #c66565; }
    .productos .productos-contenedor .productos-imag div ul li {
      text-decoration: none;
      color: #070707;
      font-weight: 600;
      list-style: none;
      text-align: center; }
    .productos .productos-contenedor .productos-imag div a {
      text-decoration: none;
      color: #b75906;
      background-color: #0b0b0b;
      border-radius: 10px;
      border: 2px solid #e4dada;
      padding: 5px; }

.ofertas h2 {
  color: rgba(11, 157, 133, 0.848);
  font-weight: 800;
  text-align: center; }

.ofertas .ofertas-contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }
  .ofertas .ofertas-contenedor .ofertas-imag {
    background-color: rgba(240, 248, 255, 0.393);
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    width: 25%;
    text-align: center; }
    .ofertas .ofertas-contenedor .ofertas-imag h3 {
      color: black;
      font-size: 15px; }
    .ofertas .ofertas-contenedor .ofertas-imag img {
      border: 1px solid black; }
    .ofertas .ofertas-contenedor .ofertas-imag div h4 {
      color: #c66565; }
    .ofertas .ofertas-contenedor .ofertas-imag div ul li {
      color: #191818;
      font-weight: 600;
      text-decoration: none;
      list-style: none; }
    .ofertas .ofertas-contenedor .ofertas-imag div a {
      text-decoration: none;
      color: #b75906;
      background-color: #0b0b0b;
      border-radius: 10px;
      border: 2px solid #e4dada;
      padding: 3px; }

.contacto {
  text-align: center;
  margin: 5px;
  padding: 5px;
  background-color: rgba(53, 94, 130, 0.464); }
  .contacto .contacto-contenedor div {
    font-size: 15px;
    color: black; }
  .contacto .contacto-contenedor form {
    font-size: 15px;
    color: black; }

.pie {
  text-align: center;
  background-color: #1c0036;
  width: 100%;
  height: 30vh; }
  .pie h4 {
    color: #9d0312;
    font-weight: 800;
    font-size: 30px; }
  .pie .cont-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(108, 106, 109, 0); }
    .pie .cont-footer a {
      text-decoration: none;
      color: #ce5b2e;
      background-color: black;
      border-radius: 10px;
      border: 2px solid #e4dada;
      padding: 10px;
      margin: 10px; }
    .pie .cont-footer div a {
      text-decoration: none;
      color: black;
      background-color: #8cbc33;
      border-radius: 10px;
      border: 2px solid #e4dada;
      padding: 10px;
      margin: 25px; }
  .pie div ul li {
    color: white;
    text-align: center;
    margin: 15px;
    text-decoration: none;
    list-style: none; }

@media (min-width: 350px) and (max-width: 700px) {
  .sobrenosotros {
    display: flex;
    background-color: #7300ff;
    flex-direction: column;
    flex-direction: row;
    width: 100%;
    height: 150vh; }
  h2 {
    width: 100%;
    flex-direction: row; }
  p {
    width: 100%;
    height: 0vh; }
  div img {
    visibility: hidden; } }

@media (min-width: 350px) and (max-width: 700px) {
  .excursiones {
    background-color: #ddff00;
    flex-direction: column; } }

@media (min-width: 350px) and (max-width: 700px) {
  .productos-contenedor {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: coral;
    width: 100%;
    height: 150vh; } }

@media (min-width: 350px) and (max-width: 700px) {
  .ofertas {
    background-color: darkgreen;
    flex-direction: column; } }
