@media (min-width:350px) and (max-width:700px){
    .main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:100px 150px 200px 200px;
        grid-template-areas: 
        "sobrenosotros sobrenosotros sobrenosotros"
        "excursiones excursiones excursiones"
        "productos-contenedor productos-contenedor productos-contenedor"
        "ofertas ofertas ofertas"

        ;
    }
}
@media (min-width:350px) and (max-width:700px){
    .sobrenosotros{
        display: flex;
        background-color: rgb(115, 0, 255);
        flex-direction: column;
        flex-direction: row;
        width: 100%;
        height: 150vh;

    }
    h2{
        width: 100%;
        flex-direction: row;
    }
    p{
        width: 100%;
        height: 0vh;
    }
    div img{
        visibility: hidden;
    }

}
    @media (min-width:350px) and (max-width:700px){
    .excursiones{
        background-color: rgb(221, 255, 0);
        flex-direction: column;
    }
}
@media (min-width:350px) and (max-width:700px){
    

        .proproductos{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        background-color: coral;
        width: 100%;
        height: 150vh;


        
        }

    }

    



@media (min-width:350px) and (max-width:700px){
    .ofertas{
        background-color: darkgreen;
        flex-direction: column;
    }
}
