/**-----titulos-----------*/
$color-1: rgb(159, 11, 45);/**----titulo h1------*/
$color-2:rgba(0, 205, 171, 0.848);/**----titulo h2------*/
$color-3: rgb(0, 0,0);/**----titulo h3------*/
$color-4: rgb(198, 101, 101);/**----titulo h4------*/
/**--------tarjeta de productos--------*/
$color-5: rgba(240, 248, 255, 0.393);/**----fondo de tarjeta------*/
$color-6: rgb(0, 0, 0);/**----borde de contenedor------*/
$color-7: rgb(255, 255, 255);
$color-8: rgb(255, 255, 255);
/**--------background color--------*/
$color-9:  rgb(13, 0, 38);/**----fondo de barra de nabegacion------*/
$color-10: rgb(13, 0, 38);/**----fondo de pie de pagina------*/
$color-11: rgb(255, 255, 255);
$color-12: rgb(255, 255, 255);
