$color-titulH1:rgb(159, 11, 45);
$color-tituloH2:rgba(0, 205, 171, 0.848);
$color-subtituloH3:rgb(0, 0, 0);
$color-subtituloH4:rgb(198, 101, 101);
$font-size:
12px,
18px,
20px,
40px;
@mixin flex($flex,$direction,$justify){
    display: $flex;
    flex-direction:$direction;
    justify-content:$justify;
}


