.pie{
    text-align: center;
    background-color: rgb(28, 0, 54);
    width: 100%;
    height: 30vh;
    h4{
        color: rgb(157, 3, 18);
    font-weight: 800;
    font-size: 30px;
    
    }
    .cont-footer{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgba(108, 106, 109, 0);
        
        a{
            text-decoration: none;
            color: rgb(206, 91, 46);
            background-color: rgb(0, 0, 0);
            border-radius: 10px;
            border: 2px solid rgb(228, 218, 218);
            padding: 10px;
            margin: 10px;
            
        }
        div{
            a{
                text-decoration: none;
                color: rgb(0, 0, 0);
                background-color: rgb(140, 188, 51);
                border-radius: 10px;
                border: 2px solid rgb(228, 218, 218);
                padding: 10px;
                margin: 25px;
                
            }
        }
    }
    div{
        
        ul{
            
            li{
                color: rgb(255, 255, 255);
                text-align: center;
                margin: 15px;
                text-decoration: none;
                list-style: none;
                
            }

        }
    }
}